[Unit]
Description=Sirius-OS PIA Update Check Schedule

[Timer]
OnBootSec=1min 30sec
OnCalendar=monthly
Persistent=true
Unit=piavpn-extract.service

[Install]
WantedBy=timers.target
